<%= form.label :name, t(:name) %>
<div class="input-prepend field">
  <%= icon('star', :class => 'add-on') %>
  <%= form.text_field :name, :placeholder => t('.name.placeholder') %>
</div>

<div class="field">
  <%= form.label :is_private, form.check_box(:is_private) + t(:is_private), :class => 'checkbox' %>
</div>

<div class="field">
  <%= form.label :is_default, form.check_box(:is_default) + t(:is_default), :class => 'checkbox' %>
</div>