<!-- CAREFUL this wishlist table layout have been customized for HallyuStyle.com -->
<div id="wishlist_header" class'row-fluid'>
  <h1 class='span4'>
    <%= @wishlist.name %>
    <% if @wishlist.user == current_user %>
      <%= link_to icon('edit', :class => 'text-info'), edit_wishlist_path(@wishlist) %>
    <% end -%>
    </h1>
    <div><%= render :partial => 'accessibility' %></div>
</div>
<table id="wishlist" class='table'>
  <thead>
    <tr>
      <th><%= Spree.t(:date_added) %></th>
      <th><%= Spree.t(:item_view) %></th>
      <th><%= Spree.t(:item_description) %></th>
      <th><%= Spree.t(:availability) %></th>
      <th><%= Spree.t(:price) %></th>
      <% if @wishlist.user == current_user %>
        <th><%= Spree.t(:wishlist_actions) %></th>
      <% end -%>
    </tr>
  </thead>
  <tbody id="line_items">
  <% if @wishlist.wished_products.active.size > 0 %>
    <% @wishlist.wished_products.active.order("created_at DESC").each do |wish|
        variant = wish.variant
        product = variant.product %>
    <tr class="<%= cycle('', 'alt') %>">
      <td>
        <%= time_ago_in_words wish.created_at %> ago
      </td>
      <td>
        <% if variant.images.length == 0 %>
          <%= small_image(variant.product) %>
        <% else %>
          <%= image_tag variant.images.first.attachment.url(:small) %>
        <% end %>
      </td>
      <td>
        <h4><%= link_to product.name, product %></h4>
        <p><%= variant_options variant %></p>
        <%= truncate(product.description, :length => 100, :omission => "...") %>
      </td>
      <td>
        <%= variant.in_stock? ? Spree.t(:in_stock) : Spree.t(:out_of_stock) %>
      </td>
      <td>
        <%= number_to_currency(variant.price) %>
      </td>
      <% if @wishlist.user == current_user %>
        <td>
          <%= form_for :order, :url => populate_orders_url do |f| %>
            <%= hidden_field_tag "variants[#{variant.id}]", 1, :size => 3 %>
            <%= button_tag Spree.t(:add_to_cart), :onclick => "$(this).parent().submit(); return false;", :class => "medium awesome orange" %>
          <% end if variant.in_stock? || Spree::Config[:allow_backorders] %>
          <%= link_to Spree.t(:remove_from_wishlist), wish, :method => :delete %>
          <% if current_user.wishlists.count > 1 %>
            <%= Spree.t(:move_to_another_wishlist) %>:
            <%= form_for wish do |f| %>
              <%= f.select :wishlist_id, current_user.wishlists.map{|wl| [wl.name, wl.id]} %>
              <%= f.submit Spree.t(:move) %>
            <% end %>
          <% end %>
          <br />
        </td>
      <% end -%>
    </tr>
    <% end -%>
  <% else -%>
    <tr>
      <td colspan="6"><%= Spree.t(:your_wishlist_is_empty) %></td>
    </tr>
  <% end -%>
  </tbody>
</table>
<div class="footer_links" data-hook="wishlist_footer_links">
<% if @wishlist.user == current_user %>
  <%= link_to Spree.t(:create_new_wishlist), new_wishlist_path %> &#124;&#32;
<% end -%>
<%= link_to Spree.t(:continue_shopping), products_path %>
</div>