<div class="input-prepend field">
  <%= f.label :email, t(:email) %>
  <%= icon('envelope', :class => 'add-on') %>
  <%= f.email_field :email, :required => true %>
</div>

<div id="password-credentials">
  <%= f.label :password, t(:password) %>
  <div class="input-prepend field">
    <%= icon('key', :class => 'add-on') %>
    <%= f.password_field :password, :required => true %>
  </div>

  <%= f.label :password_confirmation, t(:password_confirmation) %>
  <div class="input-prepend field">
    <%= icon('key', :class => 'add-on') %>
    <%= f.password_field :password_confirmation, :required => true %>
  </div>
</div>

<div data-hook="signup_below_password_fields"></div>
