<div id="checkout" data-hook>
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>

  <div class="row-fluid" data-hook="checkout_header">
    <div class="span12" data-hook="checkout_progress">
      <div id='progress-steps-container' class='well span12'><%= checkout_progress %></div>
    </div>
  </div>

  <p class='text-warning'>
    <%= raw t(:order_not_yet_placed) %>
  </p>

  <div class="row-fluid" data-hook="checkout_content">
    <div class="<%= if @order.state != 'confirm' then 'span10' else 'span12' end %>" data-hook="checkout_form_wrapper">

      <%= render :partial => 'spree/shared/order_details', :locals => {:order => @order} -%>

      <div class="form-actions well">
        <%= button_to Spree.t(:place_order), paypal_finish_order_checkout_url(@order, {:token => params[:token] , :PayerID => params[:PayerID], :payment_method_id => params[:payment_method_id] } ), :class => "btn btn-primary" %>
      </div>
    </div>

  </div>
</div>
